/* * {
  border: 2px red solid;
} */

body {
  font-family: 'Roboto', sans-serif;
  background-image:url(./assets/burger-friends.jpg);
  background-size: cover;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

header {
  background-color: #0fb9b1;
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
}

h1 {
  margin-left: 20px;
}

form {
  margin-right: 30px;
}

#recipe-button {
  margin-top: 30px;
  border-top-width: 0px;
  margin-right: 20px;
  height: 0%;
  width: 10%;
}
main {
  margin-top: 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}


.left-container {
    background-color: rgba(225, 225, 225, .9);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: space-between;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-right: 800px;
    margin-top: 50px;
    /* margin-bottom: 80px; */
}

h2 {
  margin-left: 20px;

}




.cookpot {
  background-color: rgba(225, 225, 225, .9);
  height: 50%;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
	align-items: center;
}


/* COLORS
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253 */ */

/* ~~~~~ GLOBAL RULES ~~~~~ */


/* button,
input {
  font-size: 20px;
  padding: 10px 20px;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
} */

/* button { */
  background: black;
  border: none;
  border-radius: 10px;
  color: white;
}
